<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- FIXME: should not always include this -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
<style>
    .katex {
        font-size: 1em;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: lightblue;
    }

    div.body {
        margin: 30px auto 0 auto;
        width: 1000px;
        position: relative;
        font-size: 13pt;
    }

    div.content {
        background-color: #aaaabb;
        margin-left: 220px;
    }

    nav.navigation {
        background-color: lightgreen;
        position: absolute;
        top: 0;
        left: 0;
        width: 220px;
    }

    div.theorem {
        margin-left: 10px;
    }

    span.theorem {
        font-weight: bold;
        padding-right: 0.5em;
    }
</style>
<title>Test Title</title>
</head>
<body>
<div class="body">
    <div class="content">
        {{- block "content" . }}{{ end -}}
    </div>
    <nav class="navigation">
        {{- range .Navigations }}
        <div><a href="{{ .Path }}">{{ .Number }}.&nbsp;{{ .Title }}</a></div>
        {{ end -}}
    </nav>
</div>
</body>
</html>
